NET "clk_50MHz" LOC = "B8" ;
NET "rst" LOC = "C11" ;
#NET "clk_100Hz"      LOC = "R4";
NET "Contador_repiticiones" LOC = "K15";

NET "stop_signal[0]" LOC = "J15";
NET "stop_signal[1]" LOC = "J14";
#NET "senal_de_frenado" LOC = "R4";

NET "inicio" LOC = "B18";
# Asignacin de seal de bobina A a la placa Nexys 2 (JA1)
NET "coils[0]" LOC = "L15";
# Asignacin de seal de bobina B a la placa Nexys 2 (JA2)
NET "coils[1]" LOC = "K12";
# Asignacin de seal de bobina C a la placa Nexys 2 (JA3)
NET "coils[2]" LOC = "L17";
# Asignacin de seal de bobina D a la placa Nexys 2 (JA4)
NET "coils[3]" LOC = "M15" ;

NET "maximo[3]" LOC = "R17";
NET "maximo[2]" LOC = "N17";
NET "maximo[1]" LOC = "L13";
NET "maximo[1]" LOC = "L14";

NET "btn[3]" LOC = "H13";
NET "btn[2]" LOC = "E18";
NET "btn[1]" LOC = "D18";
NET "btn[1]" LOC = "D18";
#señales del teclado en filas
NET "inicio_otra"      LOC = "K14";
#senal de prueba 
#NET "clk_100Hz" LOC = "G15";
#leds para prueba del teclado
#NET "led"      LOC = "K15";   # Bank = 1, Pin name = N.C., Type = N.C.,                            Sch name = LD4? other than s3e500
NET "maximo2[3]"      LOC = "R4";
NET "maximo2[2]"      LOC = "F4";
NET "maximo2[1]"      LOC = "P15";
NET "maximo2[0]"      LOC = "E17";   # Bank = 1, Pin name = N.C., Type = N.C.,                            Sch name = LD5? other than s3e500
#NET "keys[2]"      LOC = "P15";    # Bank = 3, Pin name = N.C., Type = N.C.,                            Sch name = LD6? other than s3e500
#NET "keys[3]"      LOC = "E17"; 
#salida para el 7 segmentos y el teclado
NET "q[6]"      LOC = "L18";   # Bank = 1, Pin name = IO_L10P_1, Type = I/O,                        Sch name = CA
NET "q[1]"      LOC = "F18";   # Bank = 1, Pin name = IO_L19P_1, Type = I/O,                        Sch name = CB
NET "q[2]"      LOC = "D17";   # Bank = 1, Pin name = IO_L23P_1/HDC, Type = DUAL,                   Sch name = CC
NET "q[3]"      LOC = "D16";   # Bank = 1, Pin name = IO_L23N_1/LDC0, Type = DUAL,                  Sch name = CD
NET "q[4]"      LOC = "G14";   # Bank = 1, Pin name = IO_L20P_1, Type = I/O,                        Sch name = CE
NET "q[5]"      LOC = "J17";   # Bank = 1, Pin name = IO_L13P_1/A6/RHCLK4/IRDY1, Type = RHCLK/DUAL, Sch name = CF
NET "q[0]"      LOC = "H14";

NET "an[0]"       LOC = "F17";   # Bank = 1, Pin name = IO_L19N_1, Type = I/O,                        Sch name = AN0
NET "an[1]"       LOC = "H17";   # Bank = 1, Pin name = IO_L16N_1/A0, Type = DUAL,                    Sch name = AN1
NET "an[2]"       LOC = "C18";   # Bank = 1, Pin name = IO_L24P_1/LDC1, Type = DUAL,                  Sch name = AN2
NET "an[3]"       LOC = "F15";   # Bank = 1, Pin name = IO_L21P_1, Type = I/O,                        Sch name = AN3

#salidas y entradas del boton prueba
#teclado
##JC
NET "teclado_dato[0]"       LOC = "G15";   # Bank = 1, Pin name = IO_L18P_1, Type = I/O,                        Sch name = JC1
NET "teclado_dato[1]"       LOC = "J16";   # Bank = 1, Pin name = IO_L13N_1/A5/RHCLK5, Type = RHCLK/DUAL,       Sch name = JC2
NET "teclado_dato[2]"       LOC = "G13";   # Bank = 1, Pin name = IO_L20N_1, Type = I/O,                        Sch name = JC3
NET "teclado_dato[3]"       LOC = "H16";   # Bank = 1, Pin name = IO_L16P_1, Type = I/O,                        Sch name = JC4
NET "teclado_oe"       LOC = "H15";   # Bank = 1, Pin name = IO_L17N_1, Type = I/O,                        Sch name = JC7
NET "teclado_data"       LOC = "F14";   # Bank = 1, Pin name = IO_L21N_1, Type = I/O,                        Sch name = JC8
#NET "JC<6>"       LOC = "G16";   # Bank = 1, Pin name = IO_L18N_1, Type = I/O,                        Sch name = JC9
#NET "JC<7>"       LOC = "J12";   # Bank = 1, Pin name = IO_L15P_1/A2, Type = DUAL, 

#NET "teclado_salida[0]"      LOC = "E17";   # Bank = 1, Pin name = IO, Type = I/O,                               Sch name = LD4? s3e500 only
#NET "teclado_salida[1]"      LOC = "P15";   # Bank = 1, Pin name = IO, Type = I/O,                               Sch name = LD5? s3e500 only
#NET "teclado_salida[2]"      LOC = "F4";    # Bank = 3, Pin name = IO, Type = I/O,                               Sch name = LD6? s3e500 only
#NET "teclado_salida[3]"      LOC = "R4";

#paa el final e carrera
NET "btn_final[0]" LOC = "J13";
NET "btn_final[1]" LOC = "M18";
